{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Recipe Finder</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="get" action="{% url 'search_recipes' %}" class="d-flex">
                <input type="text" name="q" placeholder="Search ..." class="form-control me-2" aria-label="Search">
                <button type="submit" class="btn btn-secondary">Search</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
